body, html{
	background-image: url("background.jpg");
	background-size: cover;
	height: 147%;
	margin: 0;
}

ul.home{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

}
.home li a{
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px 50px;
  font-size: 21px;
}
.home li a:hover{
  background-color: silver;
}
.home li{
  font-family: 'Montserrat', sans-serif;
}
.home{
	background-color: dimgray;
}

* {
	box-sizing: border-box;
  }

  .col-6 {width: 50%;}


  [class="col-6"] {
	float: left;
	padding: 15px;
	/* border: 1px solid red; */
  }
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

h1{
text-align: center;
}

.name-line {
	border-bottom: 1px solid #ccc;
    margin: 20px;
}

#header{
	padding-top: 6%;
	font-family: 'Dancing Script', cursive;
}

.Iliyas{
	margin-top: -2%;
	font-family: 'Dancing Script', cursive;
}

.aboutme{
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: lightgreen;
	text-align: center;
}

.img{
	/* margin: 10%; */
	box-shadow: 2px 2px 10px grey;
}

.img2{
	/* margin: 5%; */
	/* margin-top: 10%; */
}

.card1{
	background-color: silver;
	width: 400px;
	text-align: center;
	box-shadow: 5px 5px 10px black;
	border: 5px solid black;
	margin-left: 25%; 
}

.card2{
	background-color: silver;
	width: 400px;
	text-align: center;
	box-shadow: 5px 5px 10px black;
	border: 5px solid black;
	/* float: right; */
	/* margin-right: 10%; */
	/* margin-top: -47%; */
}
	
.card3{
	background-color: silver;
	width: 25%;
	text-align: center;
	box-shadow: 5px 5px 10px black;
	border: 5px solid black;
	margin-left: 25%;
	margin-top: 15%;
}

.card4{
	float: right;
	background-color: silver;
	width: 25%;
	text-align: center;
	box-shadow: 5px 5px 10px black;
	border: 5px solid black;
	margin-right: 10%;
	margin-top: -43%;
	border-radius: 		
}
.footer{
	background-color: dimgray;	
	text-align: center;	
	color: white;
	padding: 4%;

}
.font{
	display: inline-table;
}



.Contacts{
	display: inline-block;
	padding-left: 300px;

}
.Contacts2{
	display: inline-block;
	padding-left: 300px;
	padding-right: 300px;
	float: left;
}